# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/

# Logs
logs/
*.log
*.log.*

# Operating system files
.DS_Store
Thumbs.db

# JetBrains IDE files
.idea/
*.iml
out/

# Temporary files
*.tmp
*.swp
*.swo
*.bak
*.old

# Environment variables
.env
.env.local

/.idea
